In [25]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('data/opendata_wka_ib_gv_vb_sh_20240103.csv', delimiter=';')

In [5]:
df.head()

,KREIS,GEMEINDE,TYP,HERSTELLER,NABENHOEHE,ROTORDURCHMESSER,SCHALLLEISTUNGSPEGEL,LEISTUNG,LEISTUNGSBEZUG,OSTWERT,NORDWERT,GENEHMIGT_AM,INBETRIEBNAHME,STATUS,BST_NR,ANL_NR,AKTENZEICHEN,DATENDATUM,DATENQUELLE
0,Kiel,Kiel,"Nordex N131 - 3,0 MW",Nordex,134,131,NaN,3000,kW Nennleist. Rotor.,32571605,6013660,NaN,NaN,im Gen.Verf.,2000000317,1,G20/2016/085,03.01.2024,"LfU SH, Abtl. 7"
1,Kiel,Kiel,"Nordex N131 - 3,0 MW",Nordex,134,131,NaN,3000,kW Nennleist. Rotor.,32572117,6013490,NaN,NaN,im Gen.Verf.,2000000317,2,G20/2016/086,03.01.2024,"LfU SH, Abtl. 7"
2,Kiel,Kiel,"Nordex N131 - 3,0 MW",Nordex,134,131,NaN,3000,kW Nennleist. Rotor.,32572497,6013607,NaN,NaN,im Gen.Verf.,2000000317,3,G20/2016/087,03.01.2024,"LfU SH, Abtl. 7"
3,Lübeck,Lübeck,Enercon E 82 E,Enercon,78,82,"104,5 dB(A)",2300,kW Nennleist. Rotor.,32619817,5978875,01.04.2011,25.09.2012,in Betrieb,3000924205,1,G30/031/2010,03.01.2024,"LfU SH, Abtl. 7"
4,Lübeck,Lübeck,Enercon E-82 E,Enercon,85,82,"104,5",2300,kW Nennleist. Rotor.,32619815,5977994,01.04.2011,25.09.2012,in Betrieb,3000924205,2,G30/030/2010,03.01.2024,"LfU SH, Abtl. 7"

In [6]:
df.columns

Index(['KREIS', 'GEMEINDE', 'TYP', 'HERSTELLER', 'NABENHOEHE',
       'ROTORDURCHMESSER', 'SCHALLLEISTUNGSPEGEL', 'LEISTUNG',
       'LEISTUNGSBEZUG', 'OSTWERT', 'NORDWERT', 'GENEHMIGT_AM',
       'INBETRIEBNAHME', 'STATUS', 'BST_NR', 'ANL_NR', 'AKTENZEICHEN',
       'DATENDATUM', 'DATENQUELLE'],
      dtype='object')

In [7]:
df.describe()

          LEISTUNG       OSTWERT      NORDWERT        BST_NR       ANL_NR
count  3943.000000  3.943000e+03  3.943000e+03  3.943000e+03  3943.000000
mean   3179.182602  3.253154e+07  6.018114e+06  5.542424e+10     8.476287
std    1550.650587  4.269946e+04  3.650556e+04  4.014549e+09    53.992369
min       1.000000  3.247185e+07  5.919141e+06  2.000000e+09     1.000000
25%    2300.000000  3.250019e+07  5.985486e+06  5.308711e+10     1.000000
50%    3000.000000  3.251559e+07  6.012607e+06  5.416634e+10     3.000000
75%    4200.000000  3.255370e+07  6.051842e+06  5.907700e+10     6.000000
max    7200.000000  3.264678e+07  6.083820e+06  6.209345e+10  1006.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3943 entries, 0 to 3942
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   KREIS                 3943 non-null   object
 1   GEMEINDE              3943 non-null   object
 2   TYP                   3924 non-null   object
 3   HERSTELLER            3943 non-null   object
 4   NABENHOEHE            3918 non-null   object
 5   ROTORDURCHMESSER      3917 non-null   object
 6   SCHALLLEISTUNGSPEGEL  3730 non-null   object
 7   LEISTUNG              3943 non-null   int64
 8   LEISTUNGSBEZUG        3943 non-null   object
 9   OSTWERT               3943 non-null   int64
 10  NORDWERT              3943 non-null   int64
 11  GENEHMIGT_AM          3542 non-null   object
 12  INBETRIEBNAHME        3170 non-null   object
 13  STATUS                3943 non-null   object
 14  BST_NR                3943 non-null   int64
 15  ANL_NR                3943 non-null   int64
 16  AKTENZEICHEN          3943 non-null   object
 17  DATENDATUM            3943 non-null   object
 18  DATENQUELLE           3943 non-null   object
dtypes: int64(5), object(14)
memory usage: 585.4+ KB

In [10]:
df.corr(numeric_only=True)

          LEISTUNG   OSTWERT  NORDWERT    BST_NR    ANL_NR
LEISTUNG  1.000000  0.012333  0.020180  0.068850  0.054832
OSTWERT   0.012333  1.000000 -0.325757  0.249372  0.015165
NORDWERT  0.020180 -0.325757  1.000000  0.017655 -0.030261
BST_NR    0.068850  0.249372  0.017655  1.000000 -0.029239
ANL_NR    0.054832  0.015165 -0.030261 -0.029239  1.000000

In [11]:
df[df.BST_NR == 2000000317]

,KREIS,GEMEINDE,TYP,HERSTELLER,NABENHOEHE,ROTORDURCHMESSER,SCHALLLEISTUNGSPEGEL,LEISTUNG,LEISTUNGSBEZUG,OSTWERT,NORDWERT,GENEHMIGT_AM,INBETRIEBNAHME,STATUS,BST_NR,ANL_NR,AKTENZEICHEN,DATENDATUM,DATENQUELLE
0,Kiel,Kiel,"Nordex N131 - 3,0 MW",Nordex,134,131,NaN,3000,kW Nennleist. Rotor.,32571605,6013660,NaN,NaN,im Gen.Verf.,2000000317,1,G20/2016/085,03.01.2024,"LfU SH, Abtl. 7"
1,Kiel,Kiel,"Nordex N131 - 3,0 MW",Nordex,134,131,NaN,3000,kW Nennleist. Rotor.,32572117,6013490,NaN,NaN,im Gen.Verf.,2000000317,2,G20/2016/086,03.01.2024,"LfU SH, Abtl. 7"
2,Kiel,Kiel,"Nordex N131 - 3,0 MW",Nordex,134,131,NaN,3000,kW Nennleist. Rotor.,32572497,6013607,NaN,NaN,im Gen.Verf.,2000000317,3,G20/2016/087,03.01.2024,"LfU SH, Abtl. 7"

In [19]:
len(df.BST_NR.unique())

1474

In [15]:
df.shape

(3943, 19)

In [18]:
1474*3

4422

In [32]:
df["Coordinate"] = [(x, y) for x, y in zip(df.OSTWERT, df.NORDWERT)]

In [37]:
len(df.Coordinate.unique())

3942

In [38]:
len(df.OSTWERT.unique())

3835